
/*fonts*/


#scoreQuestTime{
    border: solid black 4px;
    background-color: burlywood;
    font-family: 'Righteous', cursive;
    
}

#scoreQuestTime p{
font-size: medium;
font-weight: bolder;

}
#displayPlayers div{
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
    color:white;
    background-color: black;
    
}


.buttonAns{
    height:50px;
    width:200px;
    font-size: 24px;
    font-family: 'Titan One', cursive;
    margin:6px 0 6px 0;
    border: solid goldenrod 2px;
    border-radius:6px;
    background-color: orange;
}

.hr{
    border-top-width:5px;
    border-top-style:solid;
    border-top-color: black;
    margin-top:4px;
}

#valid{
border-top-style:solid;
border-top-color: black;
border-top-width: 4px;
margin-top:12px;
padding-top:10px;

}